<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MainConnection" 
			 connectionString="mongodb://localhost:27017" 
			 providerName="MongoDB.Driver"/>
	</connectionStrings>
	<appSettings>
		<add key="MongoDatabase" value="ProjectsAndTasksDB" />
	</appSettings>
</configuration>